<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link href="{{ url_for('static',filename='js/javascript.js') }}">
    <style> 
        body{
            background: url("{{url_for('static',filename='img/background.jpg')}}") center center fixed;
            color: brown;
            text-align: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    {% block body %} {% endblock %}
    <form action="/" method="POST" id="form">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task" id="submit">
    </form>
</body>

</html>